/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* ========================================================================
BODY
==========================================================================*/
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #909090;
  font: 100.01%/1 'Raleway', sans-serif;
}
img {
  border-style: none;
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/* ========================================================================
General Layout
 ==========================================================================*/
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
/* ========================================================================
NAVBAR
==========================================================================*/
.site-logo {
  float: left;
  display: none;
}
.site-logo-text {
  float: left;
  padding: 40px;
}
/*==========================================================
NAVBAR (Menu-Choices-Style)
==========================================================*/
.rm-navbar {
  margin-top: 0;
  font-size: 18px;
  line-height: 0;
  position: relative;
}
.rm-navbar ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
  text-align: center;
  background-color: #303030;
}
.rm-navbar li a {
  font-family: Helvetica, 'Sans Serif';
  font-weight: lighter;
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
}
.rm-navbar li a:hover {
  color: #FF7D0A;
  text-decoration: underline;
}
.rm-submenu-button {
  position: absolute;
}
.rm-desktop li {
  position: relative;
}
.rm-default li {
  display: inline-block;
}
/* ========================================================================
Content (My main content for my pages)
==========================================================================*/
.inner-wrap-main {
  overflow: auto;
}
.region-main {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  overflow: auto;
  min-height: 15em;
}
.region-main.has-sidebar {
  width: 68%;
  margin-left: 1%;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 56%;
  margin-left: 2%;
  min-height: 15em;
}
.region-sidebar-left,
.region-sidebar-right {
  width: 28%;
  margin-left: 1%;
  float: left;
}
.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
  width: 20%;
  margin-left: 5px;
  float: left;
}
figure.figure.right {
  float: right;
  margin-left: 8px;
}
.inner-wrap-main {
  padding-bottom: 48px;
}
.inner-wrap {
  clear: both;
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}
/*==========================================================
CONTENT (With sidebar to the right)
==========================================================*/
.article {
  padding-bottom: 80px;
}
.article h1 {
  font-size: 48px;
  line-height: 1em;
  border-bottom: 1px solid #666;
  margin-bottom: 24px;
}
.article p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
.wrap-sidebar .block {
  margin-bottom: 50px;
}
.wrap-sidebar .block h4 {
  border-bottom: 1px solid #FF7D0A;
  font-size: 16px;
}
/*==========================================================
CONTENT (With sidebar to the left)
==========================================================*/
.region-sidebar-left.wrap-sidebar .block h4 {
  border-bottom: 1px solid #FF7D0A;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 250;
}
.toc .section-header {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-top: 24px;
  margin-bottom: 12px;
}
.toc {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.next-previous {
  margin-bottom: 24px;
}
.next-previous .next {
  float: right;
  text-align: right;
}
.next-previous .previous {
  width: 50%;
}
/*==========================================================
BYLINE
==========================================================*/
.author-byline {
  border: 1px solid #FF7D0A;
  margin-bottom: 46px;
}
.author-byline p {
  margin-top: 24px;
  margin-bottom: 48px;
}
.author-byline figcaption {
  margin-top: 2px;
  margin-bottom: 24px;
  padding-bottom: 38px;
}
.author-byline figcaption p {
  margin-top: 0px;
  text-align: left;
}
figure.figure.left {
  float: left;
  margin-right: 8px;
}
/* ========================================================================
FOOTER
==========================================================================*/
.outer-wrap-footer {
  background-color: #707070;
  padding-top: 24px;
  padding-bottom: 48px;
}
.inner-wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}
.row {
  display: block;
  width: 100%;
  margin-left: -0.5%;
  margin-right: -0.5%;
}
.region-footer {
  display: inline;
  float: left;
  width: 100%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border-bottom: 1px solid #FF7D0A;
}
.footer-column-wrapper {
  color: #ddd;
  padding-bottom: 24px;
  margin-bottom: 48px;
}
.footer-column {
  height: 100%;
  display: inline;
  float: left;
  width: 32%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.footer-column-2,
.footer-column-3 {
  padding-left: 1em;
}
.footer-column-1,
.footer-column-2 {
  border-right: 1px solid #FF7D0A;
}
.footer-column-x {
  padding-bottom: 24px;
  padding-right: 1em;
}
.block.site-footer {
  color: #aaa;
  text-align: center;
  padding-bottom: 24px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
